In [1]:
from utils.elt_config import (
    DB_PATH,
    DataDirectory,
    QueriesDirectory,
    get_cnxn,
    get_info_schema_df,
    main,
)

In [2]:
cnxn = get_cnxn(database=DB_PATH)

In [3]:
data_dir = DataDirectory()
queries = QueriesDirectory()

In [4]:
info_schema_df = get_info_schema_df(cnxn)
# print("schemas:", SCHEMAS)
print("columns:", list(info_schema_df.columns))
info_schema_df.groupby("schema").size()

columns: ['database', 'schema', 'name', 'column_names', 'column_types', 'temporary']

schema
agg        22
feat        2
landing     7
main       27
dtype: int64

In [5]:
info_schema_df.loc[info_schema_df["schema"] == "main", ["name", "column_names"]].head(
    20
)

,name,column_names
31,activity_type,"[id, activity_type]"
32,age_band,"[id, age_band]"
33,assessment,"[assessment_id, course_id, module_id, presenta..."
34,assessment_staging,"[student_id, course_id, assessment_id, date_su..."
35,assessment_type,"[id, assessment_type]"
36,course_assessments,"[assessment_id, module_id, presentation_id, as..."
37,course_info,"[id, module_id, presentation_id, module_code, ..."
38,course_registrations,"[student_id, course_id, final_result_id, date_..."
39,final_result,"[id, final_result]"
40,highest_education,"[id, highest_education]"
41,imd_band,"[id, imd_band]"
42,module,"[id, module_code]"
43,onehot_activity_type,"[id, is_dataplus, is_dualpane, is_externalquiz..."
44,onehot_age_band,"[id, is_le_35, is_35_55, is_ge_55, age_band]"
45,onehot_final_result,"[id, is_distinction, is_fail, is_pass, is_with..."
46,onehot_highest_education,"[id, is_no_formal_quals, is_lower_than_a_level..."
47,onehot_imd_band,"[id, imd_band_00_10, imd_band_10_20, imd_band_..."
48,onehot_region,"[id, is_east_anglian, is_east_midlands, is_ire..."
49,presentation,"[id, presentation_code]"
50,region,"[id, region]"

In [6]:
main()

Connection & schemas took 0.0 ns

Creating schemas: 100%|██████████| 7/7 [00:00<00:00, 1414.67it/s]

Landing data took 0.0 ns

  7%|▋         | 11/149 [00:00<00:01, 73.25it/s]

Creating main.age_band from 01_main/00_dimensions/main_age_band.sql... main.age_band took 0.351 sec
Creating main.activity_type from 01_main/00_dimensions/main_activity_type.sql... main.activity_type took 0.382 sec
Creating main.presentation from 01_main/00_dimensions/main_presentation.sql... main.presentation took 0.388 sec
Creating main.imd_band from 01_main/00_dimensions/main_imd_band.sql... main.imd_band took 0.393 sec
Creating main.region from 01_main/00_dimensions/main_region.sql... main.region took 0.4 sec
Creating main.final_result from 01_main/00_dimensions/main_final_result.sql... main.final_result took 0.407 sec
Creating main.assessment_type from 01_main/00_dimensions/main_assessment_type.sql... main.assessment_type took 0.412 sec
Creating main.highest_education from 01_main/00_dimensions/main_highest_education.sql... main.highest_education took 0.416 sec
Creating main.module from 01_main/00_dimensions/main_module.sql... main.module took 0.421 sec
Creating main.course_info from 01_main/01_dimensions/main_course_info.sql... main.course_info took 0.425 sec
Creating main.student_info from 01_main/02_facts/main_student_info.sql... main.student_info took 0.433 sec
Creating main.assessment from 01_main/02_facts/main_assessment.sql... main.assessment took 0.517 sec
Creating main.student_assessment_bridge from 01_main/03_bridges/main_student_assessment_bridge.sql... main.student_assessment_bridge took 0.521 sec
Creating main.course_assessments from 01_main/03_bridges/main_course_assessments.sql... main.course_assessments took 0.571 sec
Creating main.student_vle_bridge from 01_main/03_bridges/main_student_vle_bridge.sql... main.student_vle_bridge took 0.575 sec
Creating main.vle_course_bridge from 01_main/03_bridges/main_vle_course_bridge.sql... main.vle_course_bridge took 1.489 sec
Creating main.vle_activities from 01_main/04_derived/main_vle_activities.sql... main.vle_activities took 1.497 sec
Creating main.onehot_highest_education from 01_main/04_derived/main_onehot_highest_education.sql... main.onehot_highest_education took 3.664 sec
Creating main.student_interactions_by_assessments from 01_main/04_derived/main_student_interactions_by_assessments.sql...

 15%|█▌        | 23/149 [00:05<00:29,  4.23it/s]

main.student_interactions_by_assessments took 3.667 sec
Creating main.onehot_activity_type from 01_main/04_derived/main_onehot_activity_type.sql... main.onehot_activity_type took 5.276 sec
Creating main.student_grades from 01_main/04_derived/main_student_grades.sql... main.student_grades took 5.282 sec
Creating main.onehot_imd_band from 01_main/04_derived/main_onehot_imd_band.sql... main.onehot_imd_band took 5.352 sec
Creating main.assessment_staging from 01_main/04_derived/main_assessment_staging.sql... main.assessment_staging took 5.354 sec
Creating main.onehot_final_result from 01_main/04_derived/main_onehot_final_result.sql... main.onehot_final_result took 5.411 sec
Creating main.onehot_age_band from 01_main/04_derived/main_onehot_age_band.sql... main.onehot_age_band took 5.415 sec
Creating main.onehot_region from 01_main/04_derived/main_onehot_region.sql... main.onehot_region took 5.417 sec
Creating main.course_registrations from 01_main/04_derived/main_course_registrations.sql... main.course_registrations took 5.419 sec
Creating agg.interaction_types_staging from 02_agg/00_00_base/agg_interaction_types_staging.sql...

 19%|█▉        | 28/149 [00:07<00:37,  3.19it/s]

agg.interaction_types_staging took 5.487 sec
Creating agg.assessment_weights from 02_agg/00_00_base/agg_assessment_weights.sql... agg.assessment_weights took 7.793 sec
Creating agg.course_student_bands_results from 02_agg/00_00_base/agg_course_student_bands_results.sql... agg.course_student_bands_results took 7.799 sec
Creating agg.course_info from 02_agg/00_00_base/agg_course_info.sql... agg.course_info took 7.816 sec
Creating agg.activity_interaction_percentiles from 02_agg/00_00_base/agg_activity_interaction_percentiles.sql...

 21%|██▏       | 32/149 [00:07<00:28,  4.06it/s]

agg.activity_interaction_percentiles took 7.82 sec
Creating agg.course_reg_results from 02_agg/00_00_base/agg_course_reg_results.sql... agg.course_reg_results took 8.044 sec
Creating agg.assessment_staging from 02_agg/00_00_base/agg_assessment_staging.sql...

 24%|██▍       | 36/149 [00:08<00:23,  4.81it/s]

agg.assessment_staging took 8.084 sec
Creating agg.running_assessment_score from 02_agg/01_00_derivative/agg_running_assessment_score.sql... agg.running_assessment_score took 8.4 sec
skipping 02_agg/01_00_derivative/_agg_mean_prod_consec_days.sql
Creating agg.mom_assessments_12 from 02_agg/01_00_derivative/agg_mom_assessments_12.sql...

 25%|██▍       | 37/149 [00:08<00:24,  4.49it/s]

agg.mom_assessments_12 took 8.58 sec
Creating agg.student_grades from 02_agg/01_00_derivative/agg_student_grades.sql...

BinderException: Binder Error: Table "s" does not have a column named "weight"
LINE 2:     sum(s.weight) sum_weight,
                ^